body .container h1{
    padding: 5px;
    font-weight: 600;
}
#inputArea{
    display: flex;
}
#inputArea #txtSearchValue{
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
}
#searchResults{
    margin: 30px;
    padding: 5px;
    text-align: center;
}
#tbl td img{
    width: 30px;
}